body {
  --navbar-background-color: #ffffff;
  --navbar-text-color: darkcyan;

  --main-background-color: #ffffff;
  --main-text-color: #000536;

  --box-shadow: 0 0 54px rgba(0, 0, 0, 0.4);
}

body.dark {
  --navbar-background-color: #343434;
  --navbar-text-color: #ccc;

  --main-background-color: #343434;
  --main-text-color: #ccc;

  --box-shadow: 0 0 54px rgba(239, 240, 228, 0.932);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  color: darkcyan;
}

.img {
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
}

a {
  text-decoration: none;
}

.accordion {
  --bs-accordion-active-bg: #b1eec87a;
}

.accordion-item {
  border-color: darkcyan;
  /* --bs-accordion-btn-focus-border-color: darkcyan; */
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.2rem rgba(2, 143, 143, 0.25);
  /* --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0); */
}
