.feedbacks {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.accordion-body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.accordion-button {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
