.small-gif {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.gif {
  width: 50px;
  height: 50px;
  margin: 9.5px;
}

.medium-gif {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.big-gif {
  width: 300px;
  height: 300px;
}

.giphy {
  width: 100%;
  height: auto;
}

.gifka {
  width: 50%;
  height: auto;
}

@media ((max-width: 800px)) {
  .gifka {
    width: 100%;
    height: auto;
  }
  .gif {
    width: 35px;
    height: 35px;
  }
}

@media ((max-width: 540px)) {
  .gif {
    width: 25px;
    height: 25px;
  }
}

@media ((max-width: 430px)) {
  .gif {
    width: 25px;
    height: 25px;
  }
}

@media ((max-width: 360px)) {
  .gif {
    width: 25px;
    height: 25px;
  }
}

@media ((max-width: 320px)) {
  .gif {
    width: 25px;
    height: 25px;
  }
}
