.home {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.home-img {
  width: 30%;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  padding: 0.4rem;
}

.home-gif {
  width: auto;
  max-height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 7px;
  /* margin: 9.5px; */
}

.home-done {
  color: var(--title-icon-color);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 15px;
  padding-left: 80px;
}

.home-flex-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.flex-header {
  text-align: center;
}

.home-title {
  font-weight: 700;
  color: var(--title-icon-color);
}

.home-main-gif {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
}

.flat-btn {
  /* background-color: purple; */
  background-color: var(--navbar-text-color);
  color: var(--flat-btn-color);
  font-size: 1rem;
  /* margin: 5px; */
}

.yoga {
  width: 130px;
  height: auto;
}

@media ((max-width: 800px)) {
  .home-container {
    padding-left: 0px;
  }
  .yoga {
    width: 115px;
    height: auto;
  }
  .home-img {
    padding: 0.2rem;
  }
}

@media ((max-width: 650px)) {
  .yoga {
    width: 100px;
    height: auto;
  }
  .home-img {
    padding: 0.1rem;
  }
}
@media ((max-width: 550px)) {
  .yoga {
    width: 80px;
    height: auto;
  }
}

@media ((max-width: 430px)) {
  .trishula {
    width: 400;
  }
  .home-container {
    padding-left: 0px;
  }
  .yoga {
    width: 60px;
    height: auto;
  }
}

@media ((max-width: 320px)) {
  .flat-btn {
    font-size: 0.7rem;
  }
  .trishula {
    width: 300;
  }
  h5 {
    font-size: 1rem;
  }
  .home-container {
    padding-left: 0px;
  }
  .yoga {
    width: 50px;
    height: auto;
  }
}
