.Links {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.links:hover {
  color: blueviolet;
  text-decoration: underline;
}

.gif {
  width: 20px;
  height: 20px;
  margin: 9.5px;
}

.links-gif {
  width: 100%;
  height: auto;
}
