.my-navbar .my-nav,
.my-navbar .navlink,
.my-navbar .navbar-button,
.my-navbar .text-logo,
.my-navbar #basic-nav-dropdown,
.navlink a {
  color: var(--navbar-text-color);
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  font-weight: 500;
}

.main-menu > a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: var(--navbar-text-color);
  height: 3px;
  transition: all 0.4s;
  transform: scale(0);
}

.main-menu a:hover::after {
  transform: scale(1);
}

.dropdown-toggle::after {
  border-top: 0em;
  margin-left: 0em;
}
/* #basic-nav-dropdown {
  color: darkcyan;
} */

.my-navbar {
  background-color: var(--navbar-background-color);
  border-bottom: 1px solid var(--title-icon-color);
}

.nav-dropdown-item a {
  color: var(--navbar-text-color);
}

.nav-dropdown-item:active {
  background-color: darkcyan;
}

.dropdown-menu {
  background-color: var(--navbar-background-color);
  --bs-dropdown-border-color: darkcyan;
}

.img-logo {
  width: 60px;
  margin-right: 10px;
}

.navbarHome {
  width: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-toggler-icon {
  background-image: url(https://vosdlife.org/img/logo.svg);
}

.dark-mode {
  margin-left: 30px;
}

/* #basic-nav-dropdown:hover,
.navlink:hover {
  font-weight: 600;
  border-bottom: 3px solid var(--navbar-text-color);
  width: 100%;
} */

.nav-dropdown-item:hover {
  background-color: #99f5bc7a;
  border-bottom: 1px solid var(--navbar-text-color);
}

@media ((max-width: 991px)) {
  .img-logo {
    display: none;
  }

  .logo {
    margin-top: 20px;
    /* margin-bottom: 10px; */
  }

  .dark-mode {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #basic-nav-dropdown:hover,
  .navlink:hover,
  .text-logo:hover {
    color: var(--link-hover-color);
    border-bottom: 0px solid darkcyan;
  }

  .my-navbar {
    border-bottom: 1px solid darkcyan;
  }

  .main-menu a:hover::after {
    transform: scale(0);
  }
}

@media ((max-width: 800px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 540px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 430px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 360px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 320px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}
