.my-navbar .my-nav,
.my-navbar .navlink,
.my-navbar .navbar-button,
.navlink a {
  color: darkcyan;
  /* text-transform: uppercase; */
  font-size: 1.7rem;
  font-weight: 500;
}

#basic-nav-dropdown {
  color: darkcyan;
}

.nav-dropdown-item a {
  color: darkcyan;
}

.nav-dropdown-item:active {
  background-color: darkcyan;
}
.dropdown-menu {
  --bs-dropdown-border-color: darkcyan;
}
.navbarLogo {
  width: 50px;
}
.navbarHome {
  width: 40px;
}

#basic-nav-dropdown:hover,
.navlink:hover {
  color: darkcyan;
  font-weight: 600;
  border-bottom: 3px solid darkcyan;
  width: 100%;
}

.nav-dropdown-item:hover {
  background-color: #b1eec87a;
  color: darkcyan;
  font-weight: 600;
  border-bottom: 2px solid darkcyan;
  width: 100%;
}

@media ((max-width: 991px)) {
  .logo {
    margin-top: 10px;
  }

  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
  .my-navbar {
    border-bottom: 1px solid darkcyan;
  }
}

@media ((max-width: 800px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 540px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 430px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 360px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}

@media ((max-width: 320px)) {
  #basic-nav-dropdown:hover,
  .navlink:hover {
    border-bottom: 0px solid darkcyan;
  }
}
