/* Dark mode btn */

.dark-mode-btn {
  order: 9;

  position: relative;
  display: flex;
  justify-content: space-between;

  width: 51px;
  height: 27px;
  padding: 4px;

  border-radius: 50px;
  /* background-color: #272727; */
  background-color: #343434;
}

.dark-mode-btn::before {
  content: '';

  position: absolute;
  top: 2px;
  left: 2px;

  display: block;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid white;

  transition: left 0.3s ease-in;
}

.dark-mode-btn--active::before {
  left: 25px;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}
